apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: maniack/catwatch:latest
          args: ["catwatch"]
          ports:
            - containerPort: 8080
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: catwatch-secrets
                  key: db-password
            - name: DB_PATH
              value: "postgres://catwatch:$(DB_PASSWORD)@postgres:5432/catwatch?sslmode=disable"
            - name: SESSION_REDIS
              value: "redis:6379"
            - name: BOT_API_KEY
              valueFrom:
                secretKeyRef:
                  name: catwatch-secrets
                  key: bot-api-key
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: catwatch-secrets
                  key: google-client-id
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: catwatch-secrets
                  key: google-client-secret
          livenessProbe:
            httpGet:
              path: /healthz/alive
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /healthz/ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
